Instalamos e importamos módulos de la api de procyclingstats

In [18]:
!pip install procyclingstats

Requirement already satisfied: procyclingstats in c:\users\administrador\appdata\local\programs\python\python312\lib\site-packages (0.2.1)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: requests in c:\users\administrador\appdata\roaming\python\python312\site-packages (from procyclingstats) (2.32.3)
Requirement already satisfied: selectolax in c:\users\administrador\appdata\local\programs\python\python312\lib\site-packages (from procyclingstats) (0.3.25)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\administrador\appdata\roaming\python\python312\site-packages (from requests->procyclingstats) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\administrador\appdata\local\programs\python\python312\lib\site-packages (from requests->procyclingstats) (2.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\administrador\appdata\roaming\python\python312\site-packages (from requests->procyclingstats) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\administrador\appdata\roaming\python\python312\site-packages (from requests->procyclingstats) (2024.8.30)

In [19]:
from procyclingstats import Race, RaceClimbs, Stage

In [20]:
# Importamos librerías
import os
import pandas as pd
from tqdm import tqdm

In [ ]:
import sys 
sys.path.append(os.path.abspath("../src"))   
import support_extraccion as se
import support_tratamiento_datos as st

In [ ]:
dicc_dataframes=se.cargar_datos_wikipedia()
[df_giro, df_tour, df_vuelta] = [dicc_dataframes["datos_giro"],
                                 dicc_dataframes["datos_tour"] ,
                                 dicc_dataframes["datos_vuelta"]]

In [23]:
lista_anios_giro = df_giro['Año'].tolist()
lista_anios_tour = df_tour['Año'].tolist()
lista_anios_vuelta = df_vuelta['Año'].tolist()

In [24]:
lista_ediciones_tres_carreras = [lista_anios_giro, lista_anios_tour, lista_anios_vuelta]

In [28]:
pd.set_option('display.max_columns', None)

In [ ]:
lista_informacion=se.extrer_info_api_procyclingstats(lista_ediciones_tres_carreras)

In [76]:
#Creamos un DataFrame con la informacion que nos ha devuelto la API sobe las etapas
df_etapas=pd.DataFrame(lista_informacion)
df_etapas.head()

,arrival,avg_speed_winner,avg_temperature,climbs,date,departure,distance,gc,is_one_day_race,kom,pcs_points_scale,points,profile_icon,profile_score,race_category,race_startlist_quality_score,results,stage_type,start_time,teams,uci_points_scale,vertical_meters,won_how,youth
0,Bologna,28.15,NaN,[],1909-05-13,Milano,397.0,"[{'rider_name': 'BENI Dario', 'rider_url': 'ri...",False,[],GT.B.Stage,[],p0,NaN,ME - Men Elite,483,"[{'rider_name': 'BENI Dario', 'rider_url': 'ri...",RR,-,[],,NaN,? - let us know!,[]
1,Napoli,25.56,NaN,[],1909-05-18,Chieti,242.0,"[{'rider_name': 'GALETTI Carlo', 'rider_url': ...",False,[],GT.B.Stage,[],p0,NaN,ME - Men Elite,483,"[{'rider_name': 'ROSSIGNOLI Giovanni', 'rider_...",RR,-,[],,NaN,? - let us know!,[]
2,Roma,26.72,NaN,[],1909-05-20,Napoli,228.0,"[{'rider_name': 'GANNA Luigi', 'rider_url': 'r...",False,[],GT.B.Stage,[],p0,NaN,ME - Men Elite,483,"[{'rider_name': 'GANNA Luigi', 'rider_url': 'r...",RR,-,[],,NaN,? - let us know!,[]
3,Firenze,27.00,NaN,[],1909-05-23,Roma,346.0,"[{'rider_name': 'GANNA Luigi', 'rider_url': 'r...",False,[],GT.B.Stage,[],p0,NaN,ME - Men Elite,483,"[{'rider_name': 'GANNA Luigi', 'rider_url': 'r...",RR,-,[],,NaN,? - let us know!,[]
4,Genua,26.85,NaN,[],1909-05-25,Firenze,294.0,"[{'rider_name': 'GANNA Luigi', 'rider_url': 'r...",False,[],GT.B.Stage,[],p0,NaN,ME - Men Elite,483,"[{'rider_name': 'ROSSIGNOLI Giovanni', 'rider_...",RR,-,[],,NaN,? - let us know!,[]

In [77]:
# Guardamos el dataFrame que hemos creado con la información de la API
df_etapas.to_csv('../datos/datos_api_procyclingstats/datos_originales/datos_etapas.csv')

In [30]:
# Eliminamos una serie de columnas que no son de interés para nuestro análisis
df_etapas.drop(["avg_temperature","gc","is_one_day_race","kom","pcs_points_scale", "points", "profile_icon", "profile_score", "race_category",	"race_startlist_quality_score", "start_time", "teams", "uci_points_scale", "won_how", "youth"], axis=1, inplace= True)

In [31]:
df_etapas.head()

,arrival,avg_speed_winner,climbs,date,departure,distance,results,stage_type,vertical_meters
0,Bologna,28.15,[],1909-05-13,Milano,397.0,"[{'rider_name': 'BENI Dario', 'rider_url': 'ri...",RR,NaN
1,Napoli,25.56,[],1909-05-18,Chieti,242.0,"[{'rider_name': 'ROSSIGNOLI Giovanni', 'rider_...",RR,NaN
2,Roma,26.72,[],1909-05-20,Napoli,228.0,"[{'rider_name': 'GANNA Luigi', 'rider_url': 'r...",RR,NaN
3,Firenze,27.00,[],1909-05-23,Roma,346.0,"[{'rider_name': 'GANNA Luigi', 'rider_url': 'r...",RR,NaN
4,Genua,26.85,[],1909-05-25,Firenze,294.0,"[{'rider_name': 'ROSSIGNOLI Giovanni', 'rider_...",RR,NaN

In [32]:
df_etapas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   arrival           5200 non-null   object
 1   avg_speed_winner  5200 non-null   float64
 2   climbs            5200 non-null   object
 3   date              5200 non-null   object
 4   departure         5200 non-null   object
 5   distance          5200 non-null   float64
 6   results           5200 non-null   object
 7   stage_type        5200 non-null   object
 8   vertical_meters   3004 non-null   float64
dtypes: float64(3), object(6)
memory usage: 365.8+ KB

Vamos a limpiar la columna "results"

In [36]:
# Nos quedamos solo con el primer elemento de la columna results, pues nos interesa solo quedarnos
# con el ganador de la etapa
df_etapas['results'] = df_etapas['results'].apply(lambda x: x[0] if isinstance(x, list) and len(x) > 0 else x)
df_etapas.head(25)

,arrival,avg_speed_winner,climbs,date,departure,distance,results,stage_type,vertical_meters
0,Bologna,28.150,[],1909-05-13,Milano,397.0,"{'rider_name': 'BENI Dario', 'rider_url': 'rid...",RR,NaN
1,Napoli,25.560,[],1909-05-18,Chieti,242.0,"{'rider_name': 'ROSSIGNOLI Giovanni', 'rider_u...",RR,NaN
2,Roma,26.720,[],1909-05-20,Napoli,228.0,"{'rider_name': 'GANNA Luigi', 'rider_url': 'ri...",RR,NaN
3,Firenze,27.000,[],1909-05-23,Roma,346.0,"{'rider_name': 'GANNA Luigi', 'rider_url': 'ri...",RR,NaN
4,Genua,26.850,[],1909-05-25,Firenze,294.0,"{'rider_name': 'ROSSIGNOLI Giovanni', 'rider_u...",RR,NaN
5,Torino,25.870,[],1909-05-27,Genua,354.0,"{'rider_name': 'GANNA Luigi', 'rider_url': 'ri...",RR,NaN
6,Milano,29.760,[],1909-05-30,Torino,206.0,"{'rider_name': 'BENI Dario', 'rider_url': 'rid...",RR,NaN
7,Torino,26.922,[],1923-05-23,Milano,328.0,"{'rider_name': 'GIRARDENGO Costante', 'rider_u...",RR,NaN
8,Genua,31.726,[],1923-05-25,Torino,312.9,"{'rider_name': 'AIMO Bartolomeo', 'rider_url':...",RR,NaN
9,Firenze,18.260,[],1923-05-27,Genua,265.0,"{'rider_name': 'GIRARDENGO Costante', 'rider_u...",RR,NaN
10,Roma,25.037,[],1923-05-29,Firenze,289.0,"{'rider_name': 'GIRARDENGO Costante', 'rider_u...",RR,NaN
11,Napoli,24.971,[],1923-05-31,Roma,281.0,"{'rider_name': 'GIRARDENGO Costante', 'rider_u...",RR,NaN
12,Chieti,25.890,[],1923-06-02,Napoli,283.0,"{'rider_name': 'GIRARDENGO Costante', 'rider_u...",RR,NaN
13,Bologna,27.155,[],1923-06-04,Chieti,383.0,"{'rider_name': 'GIRARDENGO Costante', 'rider_u...",RR,NaN
14,Trieste,24.572,[],1923-06-06,Bologna,362.0,"{'rider_name': 'GIRARDENGO Costante', 'rider_u...",RR,NaN
15,Mantua,29.060,[],1923-06-08,Trieste,370.0,"{'rider_name': 'SIVOCCI Alfredo', 'rider_url':...",RR,NaN
16,Milano,27.818,[],1923-06-10,Mantua,348.5,"{'rider_name': 'GIRARDENGO Costante', 'rider_u...",RR,NaN
17,Firenze,25.850,[],1924-05-12,Genua,307.0,"{'rider_name': 'GAY Federico', 'rider_url': 'r...",RR,NaN
18,Alessandria,29.780,[],1929-06-08,Parma,152.0,"{'rider_name': 'BIANCHI Mario', 'rider_url': '...",RR,NaN
19,Milano,28.471,[],1930-06-08,Brescia,280.0,"{'rider_name': 'MARA Michele', 'rider_url': 'r...",RR,NaN
20,Mantua,33.649,[],1931-05-10,Milano,206.0,"{'rider_name': 'GUERRA Learco', 'rider_url': '...",RR,NaN
21,Ravenna,30.626,[],1931-05-11,Mantua,216.0,"{'rider_name': 'GUERRA Learco', 'rider_url': '...",RR,NaN
22,Macerata,28.032,[],1931-05-13,Ravenna,288.0,"{'rider_name': 'BINDA Alfredo', 'rider_url': '...",RR,NaN
23,Pescara,28.592,[],1931-05-15,Macerata,234.0,"{'rider_name': 'BINDA Alfredo', 'rider_url': '...",RR,NaN
24,Napoli,26.099,[],1931-05-17,Pescara,282.0,"{'rider_name': 'MARA Michele', 'rider_url': 'r...",RR,NaN

In [37]:
# En la columna results ahora tenemos informacion guarada en un diccionario por cada fila sobre el gandor de cada etapa.
# Vamos a convertir cada clave en el encabezado de una nueva columna (los valores iran en las celdas de cada columa) y 
# eliminamos despues al columna results

results_expanded = df_etapas['results'].apply(pd.Series)

df_etapas = pd.concat([df_etapas.drop(columns=['results']), results_expanded], axis=1)
df_etapas.head()

,arrival,avg_speed_winner,climbs,date,departure,distance,stage_type,vertical_meters,rider_name,rider_url,rider_number,team_name,team_url,rank,status,age,nationality,time,bonus,pcs_points,uci_points
0,Bologna,28.15,[],1909-05-13,Milano,397.0,RR,NaN,BENI Dario,rider/dario-beni,NaN,,,1.0,DF,20.0,IT,None,0:00:00,80.0,0.0
1,Napoli,25.56,[],1909-05-18,Chieti,242.0,RR,NaN,ROSSIGNOLI Giovanni,rider/giovanni-rossignoli,NaN,,,1.0,DF,26.0,IT,None,0:00:00,80.0,0.0
2,Roma,26.72,[],1909-05-20,Napoli,228.0,RR,NaN,GANNA Luigi,rider/luigi-ganna,NaN,Atala - Dunlop,team/atala-dunlop-1909,1.0,DF,25.0,IT,None,0:00:00,80.0,0.0
3,Firenze,27.00,[],1909-05-23,Roma,346.0,RR,NaN,GANNA Luigi,rider/luigi-ganna,NaN,Atala - Dunlop,team/atala-dunlop-1909,1.0,DF,25.0,IT,None,0:00:00,80.0,0.0
4,Genua,26.85,[],1909-05-25,Firenze,294.0,RR,NaN,ROSSIGNOLI Giovanni,rider/giovanni-rossignoli,NaN,,,1.0,DF,26.0,IT,None,0:00:00,80.0,0.0

In [38]:
# Algunas de estas nuevas columnas no nos aportn información relevante así qeu las elimiamos.
df_etapas.drop(["rider_number","team_name","team_url","rank","status", "time", "bonus", "pcs_points", "uci_points"], axis=1, inplace= True)

In [39]:
df_etapas.head()

,arrival,avg_speed_winner,climbs,date,departure,distance,stage_type,vertical_meters,rider_name,rider_url,age,nationality
0,Bologna,28.15,[],1909-05-13,Milano,397.0,RR,NaN,BENI Dario,rider/dario-beni,20.0,IT
1,Napoli,25.56,[],1909-05-18,Chieti,242.0,RR,NaN,ROSSIGNOLI Giovanni,rider/giovanni-rossignoli,26.0,IT
2,Roma,26.72,[],1909-05-20,Napoli,228.0,RR,NaN,GANNA Luigi,rider/luigi-ganna,25.0,IT
3,Firenze,27.00,[],1909-05-23,Roma,346.0,RR,NaN,GANNA Luigi,rider/luigi-ganna,25.0,IT
4,Genua,26.85,[],1909-05-25,Firenze,294.0,RR,NaN,ROSSIGNOLI Giovanni,rider/giovanni-rossignoli,26.0,IT

In [40]:
df_etapas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   arrival           5200 non-null   object
 1   avg_speed_winner  5200 non-null   float64
 2   climbs            5200 non-null   object
 3   date              5200 non-null   object
 4   departure         5200 non-null   object
 5   distance          5200 non-null   float64
 6   stage_type        5200 non-null   object
 7   vertical_meters   3004 non-null   float64
 8   rider_name        5173 non-null   object
 9   rider_url         5173 non-null   object
 10  age               5171 non-null   float64
 11  nationality       5173 non-null   object
dtypes: float64(4), object(8)
memory usage: 487.6+ KB

In [41]:
nan_count = df_etapas['vertical_meters'].isna().sum()
nan_count

np.int64(2196)

A pesar del considerable numero de valores NaN dejamos esta columna pues el numero de metros de desnivel es una información relevante sobre las etapas para nuestro análisis.

In [42]:
numero_de_celdas_vacias = df_etapas['climbs'].apply(lambda x: x == []).sum()
numero_de_celdas_vacias

np.int64(4432)

El numero de celdas que son listas vacías en la columna 'climbs' es como vemos muy elevado, además, sobre los puertos vamos a contar con información más precisa más adelante, así que eliminamos esta columna.

In [43]:
df_etapas = df_etapas.drop(columns=['climbs'])

In [44]:
df_etapas.sample(5)

,arrival,avg_speed_winner,date,departure,distance,stage_type,vertical_meters,rider_name,rider_url,age,nationality
318,Roccaraso,31.151,1980-05-30,Foggia,186.0,RR,NaN,HINAULT Bernard,rider/bernard-hinault,25.0,FR
1523,Perpignan,27.580,1929-07-11,Luchon,323.0,RR,NaN,DEMUYSERE Joseph,rider/joseph-demuysere,21.0,BE
2341,Divonne-les-Bains,41.010,1970-07-06,Belfort,241.0,RR,3000.0,MERCKX Eddy,rider/eddy-merckx,25.0,BE
1129,Balatonfüred,40.654,2022-05-08,Kaposvár,201.0,RR,1150.0,CAVENDISH Mark,rider/mark-cavendish,36.0,GB
5082,El Puig,43.109,2019-08-27,Cullera,175.5,RR,1233.0,JAKOBSEN Fabio,rider/fabio-jakobsen,22.0,NL

In [45]:
# Transformamos la columna fecha de 'Object' a 'datetime'
df_etapas['date'] = pd.to_datetime(df_etapas['date'])

In [46]:
# Ponemos la URl completa en la columna rider_url
df_etapas['rider_url'] = 'https://www.procyclingstats.com/' + df_etapas['rider_url']

In [48]:
df_etapas.head()

,arrival,avg_speed_winner,date,departure,distance,stage_type,vertical_meters,rider_name,rider_url,age,nationality
0,Bologna,28.15,1909-05-13,Milano,397.0,RR,NaN,BENI Dario,https://www.procyclingstats.com/rider/dario-beni,20.0,IT
1,Napoli,25.56,1909-05-18,Chieti,242.0,RR,NaN,ROSSIGNOLI Giovanni,https://www.procyclingstats.com/rider/giovanni...,26.0,IT
2,Roma,26.72,1909-05-20,Napoli,228.0,RR,NaN,GANNA Luigi,https://www.procyclingstats.com/rider/luigi-ganna,25.0,IT
3,Firenze,27.00,1909-05-23,Roma,346.0,RR,NaN,GANNA Luigi,https://www.procyclingstats.com/rider/luigi-ganna,25.0,IT
4,Genua,26.85,1909-05-25,Firenze,294.0,RR,NaN,ROSSIGNOLI Giovanni,https://www.procyclingstats.com/rider/giovanni...,26.0,IT

In [50]:
df_etapas['age'] = pd.to_numeric(df_etapas['age'], errors='coerce').astype('Int64')

In [51]:
df_etapas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   arrival           5200 non-null   object
 1   avg_speed_winner  5200 non-null   float64
 2   date              5200 non-null   datetime64[ns]
 3   departure         5200 non-null   object
 4   distance          5200 non-null   float64
 5   stage_type        5200 non-null   object
 6   vertical_meters   3004 non-null   float64
 7   rider_name        5173 non-null   object
 8   rider_url         5173 non-null   object
 9   age               5171 non-null   Int64
 10  nationality       5173 non-null   object
dtypes: Int64(1), datetime64[ns](1), float64(3), object(6)
memory usage: 452.1+ KB

In [ ]:
lista_dataframes=st.dividir_dataframe(df_etapas)

In [66]:
[df_etapas_giro, df_etapas_tour, df_etapas_vuelta]=lista_dataframes

In [67]:
df_etapas_giro.head()

,arrival,avg_speed_winner,date,departure,distance,stage_type,vertical_meters,rider_name,rider_url,age,nationality
0,Bologna,28.15,1909-05-13,Milano,397.0,RR,NaN,BENI Dario,https://www.procyclingstats.com/rider/dario-beni,20,IT
1,Napoli,25.56,1909-05-18,Chieti,242.0,RR,NaN,ROSSIGNOLI Giovanni,https://www.procyclingstats.com/rider/giovanni...,26,IT
2,Roma,26.72,1909-05-20,Napoli,228.0,RR,NaN,GANNA Luigi,https://www.procyclingstats.com/rider/luigi-ganna,25,IT
3,Firenze,27.00,1909-05-23,Roma,346.0,RR,NaN,GANNA Luigi,https://www.procyclingstats.com/rider/luigi-ganna,25,IT
4,Genua,26.85,1909-05-25,Firenze,294.0,RR,NaN,ROSSIGNOLI Giovanni,https://www.procyclingstats.com/rider/giovanni...,26,IT

In [68]:
df_etapas_tour.head()

,arrival,avg_speed_winner,date,departure,distance,stage_type,vertical_meters,rider_name,rider_url,age,nationality
1190,Lyon,26.300,1903-07-01,Montgeron,467.0,RR,NaN,GARIN Maurice,https://www.procyclingstats.com/rider/maurice-...,32,FR
1191,Marseille,25.830,1903-07-05,Lyon,374.0,RR,NaN,AUCOUTURIER Hippolyte,https://www.procyclingstats.com/rider/hippolyt...,26,FR
1192,Toulouse,23.610,1903-07-08,Marseille,423.0,RR,NaN,AUCOUTURIER Hippolyte,https://www.procyclingstats.com/rider/hippolyt...,26,FR
1193,Bordeaux,30.570,1903-07-12,Toulouse,268.0,RR,NaN,LAESER Charles,https://www.procyclingstats.com/rider/charles-...,23,CH
1194,Nantes,25.849,1903-07-13,Bordeaux,425.0,RR,NaN,GARIN Maurice,https://www.procyclingstats.com/rider/maurice-...,32,FR

In [69]:
df_etapas_vuelta.head()

,arrival,avg_speed_winner,date,departure,distance,stage_type,vertical_meters,rider_name,rider_url,age,nationality
3567,Valladolid,30.99,1935-04-29,Madrid,185.0,RR,NaN,DIGNEF Antoon,https://www.procyclingstats.com/rider/antoon-d...,24,BE
3568,Santander,28.76,1935-04-30,Valladolid,251.0,RR,NaN,ESCURIET Antonio,https://www.procyclingstats.com/rider/antonio-...,25,ES
3569,Bilbao,29.62,1935-05-01,Santander,199.0,RR,NaN,DELOOR Gustaaf,https://www.procyclingstats.com/rider/gustaaf-...,21,BE
3570,San Sebastián,31.42,1935-05-02,Bilbao,235.0,RR,NaN,DIGNEF Antoon,https://www.procyclingstats.com/rider/antoon-d...,24,BE
3571,Zaragoza,29.26,1935-05-03,San Sebastián,264.0,RR,NaN,CAÑARDO Mariano,https://www.procyclingstats.com/rider/mariano-...,29,ES

In [70]:
lista_carreras=["giro-d-italia", "tour-de-france", "vuelta-a-espana"]

Agregamos a cada uno de los tres dataframes una columna con el nombre de la carrera que le corresponde

In [71]:
for df, nombre_carrera in zip(lista_dataframes, lista_carreras):
    df['race_name'] = nombre_carrera

C:\Users\Administrador\AppData\Local\Temp\ipykernel_17796\3948316996.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['race_name'] = nombre_carrera
C:\Users\Administrador\AppData\Local\Temp\ipykernel_17796\3948316996.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['race_name'] = nombre_carrera
C:\Users\Administrador\AppData\Local\Temp\ipykernel_17796\3948316996.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['race_name'] = nombre_carrera

In [72]:
df_etapas_giro.head()

,arrival,avg_speed_winner,date,departure,distance,stage_type,vertical_meters,rider_name,rider_url,age,nationality,race_name
0,Bologna,28.15,1909-05-13,Milano,397.0,RR,NaN,BENI Dario,https://www.procyclingstats.com/rider/dario-beni,20,IT,giro-d-italia
1,Napoli,25.56,1909-05-18,Chieti,242.0,RR,NaN,ROSSIGNOLI Giovanni,https://www.procyclingstats.com/rider/giovanni...,26,IT,giro-d-italia
2,Roma,26.72,1909-05-20,Napoli,228.0,RR,NaN,GANNA Luigi,https://www.procyclingstats.com/rider/luigi-ganna,25,IT,giro-d-italia
3,Firenze,27.00,1909-05-23,Roma,346.0,RR,NaN,GANNA Luigi,https://www.procyclingstats.com/rider/luigi-ganna,25,IT,giro-d-italia
4,Genua,26.85,1909-05-25,Firenze,294.0,RR,NaN,ROSSIGNOLI Giovanni,https://www.procyclingstats.com/rider/giovanni...,26,IT,giro-d-italia

In [73]:
df_etapas_tour.head()

,arrival,avg_speed_winner,date,departure,distance,stage_type,vertical_meters,rider_name,rider_url,age,nationality,race_name
1190,Lyon,26.300,1903-07-01,Montgeron,467.0,RR,NaN,GARIN Maurice,https://www.procyclingstats.com/rider/maurice-...,32,FR,tour-de-france
1191,Marseille,25.830,1903-07-05,Lyon,374.0,RR,NaN,AUCOUTURIER Hippolyte,https://www.procyclingstats.com/rider/hippolyt...,26,FR,tour-de-france
1192,Toulouse,23.610,1903-07-08,Marseille,423.0,RR,NaN,AUCOUTURIER Hippolyte,https://www.procyclingstats.com/rider/hippolyt...,26,FR,tour-de-france
1193,Bordeaux,30.570,1903-07-12,Toulouse,268.0,RR,NaN,LAESER Charles,https://www.procyclingstats.com/rider/charles-...,23,CH,tour-de-france
1194,Nantes,25.849,1903-07-13,Bordeaux,425.0,RR,NaN,GARIN Maurice,https://www.procyclingstats.com/rider/maurice-...,32,FR,tour-de-france

In [74]:
df_etapas_vuelta.head()

,arrival,avg_speed_winner,date,departure,distance,stage_type,vertical_meters,rider_name,rider_url,age,nationality,race_name
3567,Valladolid,30.99,1935-04-29,Madrid,185.0,RR,NaN,DIGNEF Antoon,https://www.procyclingstats.com/rider/antoon-d...,24,BE,vuelta-a-espana
3568,Santander,28.76,1935-04-30,Valladolid,251.0,RR,NaN,ESCURIET Antonio,https://www.procyclingstats.com/rider/antonio-...,25,ES,vuelta-a-espana
3569,Bilbao,29.62,1935-05-01,Santander,199.0,RR,NaN,DELOOR Gustaaf,https://www.procyclingstats.com/rider/gustaaf-...,21,BE,vuelta-a-espana
3570,San Sebastián,31.42,1935-05-02,Bilbao,235.0,RR,NaN,DIGNEF Antoon,https://www.procyclingstats.com/rider/antoon-d...,24,BE,vuelta-a-espana
3571,Zaragoza,29.26,1935-05-03,San Sebastián,264.0,RR,NaN,CAÑARDO Mariano,https://www.procyclingstats.com/rider/mariano-...,29,ES,vuelta-a-espana

In [78]:
for carrera in lista_carreras:
    ruta_datos = '../datos/datos_api_procyclingstats/datos_limpiados'
    nombre_archivo = f'df_etapas_{carrera}.csv'
    ruta_archivo = os.path.join(ruta_datos, nombre_archivo)
    if carrera == "giro-d-italia":
        df_etapas_giro.to_csv(ruta_archivo, index=False)
    elif carrera == "tour-de-france":
        df_etapas_tour.to_csv(ruta_archivo, index=False)
    elif carrera == "vuelta-a-espana":
        df_etapas_vuelta.to_csv(ruta_archivo, index=False)